


.links {
  color: rgb(67, 217, 179);
  display: grid;
  grid-template-columns: repeat(7,90px);
  list-style: none;
  margin: 0 0 80px -25px;
}
.link-item {
  align-items: center;
  border: 1px solid rgb(67, 217, 179);
  border-radius: 80%;
  display: flex;
  font-size: 10px;
  justify-content: center;
  height: 20px;
  width: 20px;
}
.link-item:hover {
  background-color: rgb(110, 238, 206);
  color: black;
}
.link-item:active {
  color: rgb(81, 89, 87);
  color: rgb(89, 86, 86);
}

.details {
  color: white;
  display: grid;
  grid-template-columns: [left] 380px [right] 271px;
  grid-gap: 50px;
  width: 340px;
}
.job-title {
  margin: 0 0 5px 0;
}
.details .hello,
.details .hello-name {
  font-size: 3em;
  font-family: Arial, sans-serif;
  margin: -10px 0;
  padding: 0;
}
.details .hello-name {
  color: rgb(20, 224, 173);
}
.bio {
  line-height: 30px;
  text-align: justify;
}
.kenti-img {
  border-radius: 50%;
  border: 3px dashed rgb(20,224, 173);
  border-style:ridge;
  width: 300px;
}

.left {
  grid-area: left;
  margin-left: 40px;
}
.right {
  grid-area: right;
  margin: 50px 0 0 150px
}