
.links {
  color: rgb(67, 217, 179);
  display: grid;
  grid-template-columns: repeat(7,90px);
  list-style: none;
  margin: 0 0 80px -25px;
}
.link-item {
  align-items: center;
  /* border: 1px solid rgb(67, 217, 179); */
  background-color: rgb(67, 217, 179);
  border-radius: 80%;
  color: black;
  display: flex;
  font-size: 10px;
  justify-content: center;
  height:26px;
  padding: 0;
  transition: height 2s, width 2s;
  width:26px;
}
.github-icon, .linkedin-icon {
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
.linkedin-icon {
  font-weight: 200;
  height: 15px;
  width: 15px;
  margin: 0;
  padding:0;
}
.link-item:hover {
  background-color: rgb(129, 242, 214);
  cursor: pointer;
  height: 30px;
  width: 30px;
}


.details {
  color: white;
  display: grid;
  grid-template-columns: [left] 380px [right] 271px;
  grid-gap: 50px;
  width: 340px;
}
.job-title {
  margin: 0 0 5px 0;
}
.details .hello,
.details .hello-name {
  font-size: 3em;
  font-family: Arial, sans-serif;
  margin: -10px 0;
  padding: 0;
}
.details .hello-name {
  color: rgb(20, 224, 173);
}
.bio {
  line-height: 30px;
  text-align: justify;
}
.kenti {
  border-radius: 50%;
  border: 3px dashed rgb(20,224, 173);
  border-style:ridge;
  margin: -20px 0 0 30px;
  transition: width 2s;
  transition-delay: .5s;
  width: 300px;
}
.kenti:hover {
  color: red;
  /* margin: -20px 0 0 30px; */
  width: 340px;
}

.left {
  grid-area: left;
  margin-left: 40px;
}
.right {
  grid-area: right;
  margin: 5px 0 0 180px
}