.logo {
  color: rgb(152, 148, 148);
  margin: 0;
}
.header{
  color: white;
  display: flex;
}
.green {
  color:rgb(20, 224, 173)
}
.menu {
  align-content:space-between;
  color: white;
  display: grid;
  grid-template-columns: repeat(7,80px);
  grid-gap: 5px;
  list-style: none;
  margin: 10px 0 0 150px;
}
.menu-item {
  border-radius: 16px;
  padding: 5px 0;
  text-align: center;
}
.menu-item:hover {
  cursor: pointer;
  /* background-color: rgb(67, 217, 179); */
  color: rgb(67, 217, 179);
}
.button:hover {
  background-color: rgb(110, 238, 206);
  color: rgb(0, 0, 0);
}
.menu-item:active {
  /* background-color: rgb(81, 89, 87); */
  color: rgb(89, 86, 86);
}

.button {
  background-color: rgb(67, 217, 179);
  border-radius: 16px;
  color: rgb(21, 20, 20);
  padding: 5px 0;
}